<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mi Proyecto Angular</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'show': !isNavbarCollapsed}" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Características</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Precios</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
          </li>
      </ul>
  </div>
</nav>
